@import url('https://rsms.me/inter/inter.css');
html { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
  html { font-family: 'Inter var', sans-serif; }
}


html,
body {
  margin: 0;
  height: 100%;
  background-color: aliceblue;
}

h1 {
  position: relative;
  left: 200px;
  font-size: 50px;
  font-family: "Roboto", sans-serif;
  color: indigo;
  z-index: 2;
}

h2{
  font-size: 30px;
  font-family: "Roboto", sans-serif;
  color: black;
}

p, span{
  word-wrap: break-word;
  color: white;
  font-family: "Source Code Pro", sans-serif;
  font-weight: 700;
  font-size: 2rem;
  position: relative;
  left: 30px;
  /* top: px; */
}

nav{
  float: left;
}

nav a{
  display: inline-block;
  width: 100px;
  height: 50px;
  font-size: 30px;
  font-family: "Roboto", sans-serif;
}

nav a:hover{
  color: #d2daf7;
  text-decoration: none;
}

/* .foreground a:visited, a:link, a:active{
  color: #536bba;
  text-decoration: none;
  background: #000;
  transition: width .3s;
}

.foreground a::after{
  content: '';
  display: block;
  width: 0;
  height: 5px;
  background: rgb(75, 121, 221);
  transition: width .5s;
} */

nav ul{
  text-transform: lowercase;  
  list-style-type: none;
  position: fixed;
  top: 200px;
  float: right;
  margin-bottom: 10px;
}


.header img{
  position: fixed;
  left: 30px;
  top: 30px;
}

.wrapper {
  position: relative;
  margin: auto;
  padding: 0;
  max-width: 75vw;
}

.midground {
  position: static;
  display: inline-block; 
  background-color: hsl(225, 100%, 25%);
  margin: 15vh 0 0 15vw;
  width: 30em;
  height: 25em;
  z-index: 0;
}

.foreground {
  position: relative;
  display: inline-block;
  margin: 15vh 0 0 15vw;
  background-color: hsla(325, 50%, 50%, 0.6);
  width: 30em;
  height: 25em;
  bottom: 9em;
}  

.NYU {
  word-wrap: break-word;
  color: black;
  font-family: "Source Code Pro", sans-serif;
  font-weight: 700;
  font-size: 2rem;
  padding: 0.3em;
}

.foreground span{
  color: black;
  font-family: "Source Code Pro", sans-serif;
  font-weight: 700;
  font-size: 2rem;
}

/* 
.projects {
  position: relative;
  top: 1000px;
}
  */
