html,
body {
  margin: 0;
  height: 100%;
}

h1 {
  position: relative;
  left: 200px;
  font-size: 50px;
  font-family: "Roboto", sans-serif;
  color: indigo;
  z-index: 2;
}

h2{
  font-size: 30px;
  font-family: "Roboto", sans-serif;
  color: black;
}

p{
  color: white;
  font-family: "Source Code Pro", sans-serif;
  font-weight: 700;
  font-size: 40px;
  position: relative;
  left: 30px;
  bottom: 18px;
}

nav a{
  display: block;
  width: 100px;
  height: 50px;
  font-size: 30px;
  font-family: "Roboto", sans-serif;
}

nav a:hover{
  color: #d2daf7;
  text-decoration: none;
}

a:visited, a:link, a:active{
  color: #536bba;
  text-decoration: none;
}

nav ul{
  text-transform: lowercase;  
  list-style-type: none;
  position: fixed;
  top: 200px;
  left: 30px;
}


.header img{
  position: fixed;
  left: 30px;
  top: 30px;
}

.wrapper {
  position: relative;
  margin: auto;
  padding: 0;
  max-width: 75vw;
  top: 2vh;
}

.midground {
  position: static;
  display: inline-block; 
  margin: 15vh 0 0 15vw;
  width: 35vw;
  height: 59vh;
  z-index: 0;
}

.foreground {
  position: relative;
  display: inline-block; 
  margin: 15vh 0 0 15vw;
  width: 35vw;
  height: 59vh;
  bottom: 25vh;
  left: 2vw;
  /* bottom: 53.75vh; */
  /* left: 25vw; */
  z-index: 0;
}

.foreground p, span{
  color: black;
  font-family: "Source Code Pro", sans-serif;
  font-weight: 700;
  font-size: 40px;
  position: relative;
  left: 30px;
  bottom: 20px;
}

body {
  background-color: aliceblue;
}

.midground {
  background-color: hsl(225, 100%, 25%);
}

.foreground {
  background-color: hsla(325, 50%, 50%, 0.6);
}

